.department{
  margin-top: 3%;
  width:auto;
  padding:10px;
  height: auto;
}
.title {
  color: grey;
  font-size: 16px;
}
.card{
  float: left;
  margin-left: 9%;
  margin-bottom: 12%;
  width:20%;
  height:28%;
  text-align: center;
  font-family: arial;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
